<script>
    function copyToClipboard(atext) {
        navigator.clipboard.writeText(atext);
        alert("Copied to clipboard:\\n" + atext)
    }
</script>
<% for (const folder of folders) { %>
    <h3>Resources in folder: <% folder.name %>
    </h3>
    <table>
    <% for (const file of folder.files) { %>
        <tr style="width:100%">
            <% const resource=`${folder.name}/${file}`%>
            <td ><% file %></td>
            <td style="text-align: right;">
                <a href="<% resource %>" title="view" >
                    <img src="https://cdn-icons-png.flaticon.com/32/5656/5656148.png" title="preview">
                </a>
                <% const toClipboard=`${site.deployRoot}${resource}`%>
                <img src="https://cdn-icons-png.flaticon.com/32/5339/5339947.png" title="copy to clipbloard"
                    onclick="copyToClipboard('<% toClipboard %>')" >
            </td>
        </tr>
    <% } %>
    </table>
<% } %>